<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>415251822698-fl51sa7lgev4ha3utuv4tvmb8so0rve7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415251822698-fl51sa7lgev4ha3utuv4tvmb8so0rve7</string>
	<key>API_KEY</key>
	<string>AIzaSyBeD5-wZBLFY31ezBYWSqQRj_5anMQJ4lU</string>
	<key>GCM_SENDER_ID</key>
	<string>415251822698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zerolive.TrustPay</string>
	<key>PROJECT_ID</key>
	<string>trustpay-54824</string>
	<key>STORAGE_BUCKET</key>
	<string>trustpay-54824.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:415251822698:ios:46876d468f8cfd14</string>
	<key>DATABASE_URL</key>
	<string>https://trustpay-54824.firebaseio.com</string>
</dict>
</plist>